fixed-picchat-workflow.json
{
  "name": "PICChat - Fixed",
  "nodes": [
    {
      "parameters": {
        "public": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [0, 0],
      "id": "4b1142df-22b5-4cc2-b564-cb8c0dd638f5",
      "name": "When chat message received",
      "webhookId": "2b2e3b9c-b073-4621-8283-6f7e67ef69f5"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "You are PICChat, a helpful assistant with access to a Google Sheets database containing PIC (Person In Charge) information. Your role is to help users find and retrieve information about people, their roles, contact details, or any other data stored in the sheet.\n\nWhen users ask questions:\n1. Use the Google Sheets tool to search for relevant information\n2. Provide clear, helpful responses based on the data found\n3. If no data is found, politely inform the user\n4. Be conversational and friendly\n5. Ask clarifying questions if the user's request is unclear\n\nAlways be helpful, accurate, and professional in your responses.",
        "options": {
          "systemMessage": "You have access to a Google Sheets database. Use the available tools to help users find information they need."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [256, 0],
      "id": "0464910b-a15a-4cd7-8720-dc675de56497",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [224, 224],
      "id": "0902fa90-21c9-4fe0-9ed1-70d2f6d16fb5",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "5t06yzDLMugLbrNX",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1OAvsd8XdjMsXOsBPET9973jjCZmlXe2eM9adIHtk3X0",
          "mode": "list",
          "cachedResultName": "n8nSheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1OAvsd8XdjMsXOsBPET9973jjCZmlXe2eM9adIHtk3X0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1382397285,
          "mode": "list",
          "cachedResultName": "Sheet3",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1OAvsd8XdjMsXOsBPET9973jjCZmlXe2eM9adIHtk3X0/edit#gid=1382397285"
        },
        "combineFilters": "OR",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.6,
      "position": [480, 224],
      "id": "994b099f-7a57-4fb4-8baa-12950d8223cc",
      "name": "Get row(s) in sheet in Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "lS7bPClPVYymCPlB",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "content": "## PIC Sheet\n\nThis tool searches the Google Sheets database for PIC information.",
        "height": 80
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [592, 224],
      "typeVersion": 1,
      "id": "9d0b015c-7792-4045-bc53-b9e6ef5cdb1a",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('When chat message received').item.json.sessionId || 'default_session' }}",
        "contextWindowLength": 20
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [352, 224],
      "id": "cfa2ab7f-3f0d-4153-980e-740ad601fa0f",
      "name": "Simple Memory"
    }
  ],
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet in Google Sheets": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "timezone": "Asia/Kuala_Lumpur",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "768facc2-dfd2-4fd8-8665-e544c32e5c84",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "19ffd834ff02f46d0bdbc474747478ec203b3fbe7fe912d5279ca93c84f1559a"
  },
  "id": "fpl0f8aINrNaPHrL",
  "tags": []
}
