picchat-direct-response.json
{
  "name": "PICChat - Direct WhatsApp Response",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "whatsapps",
        "options": {}
      },
      "id": "bf675a74-7614-446f-8fd2-dcc353b5b782",
      "name": "WhatsApp Message Received",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [0, 0],
      "webhookId": "1d65dd6a-3ffd-411f-b730-08c0739ef168"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "You are PICChat, a helpful assistant with access to a Google Sheets database containing PIC (Person In Charge) information. Your role is to help users find and retrieve information about people, their roles, contact details, or any other data stored in the sheet.\n\nWhen users ask questions:\n1. Use the Google Sheets tool to search for relevant information\n2. Provide clear, helpful responses based on the data found\n3. If no data is found, politely inform the user\n4. Be conversational and friendly\n5. Ask clarifying questions if the user's request is unclear\n6. Keep responses concise for WhatsApp (under 300 characters when possible)\n\nAlways be helpful, accurate, and professional in your responses.",
        "options": {
          "systemMessage": "You have access to a Google Sheets database via WhatsApp. Use the available tools to help users find PIC information they need."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [256, 0],
      "id": "0464910b-a15a-4cd7-8720-dc675de56497",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [224, 224],
      "id": "0902fa90-21c9-4fe0-9ed1-70d2f6d16fb5",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "5t06yzDLMugLbrNX",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1OAvsd8XdjMsXOsBPET9973jjCZmlXe2eM9adIHtk3X0",
          "mode": "list",
          "cachedResultName": "n8nSheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1OAvsd8XdjMsXOsBPET9973jjCZmlXe2eM9adIHtk3X0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1382397285,
          "mode": "list",
          "cachedResultName": "Sheet3",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1OAvsd8XdjMsXOsBPET9973jjCZmlXe2eM9adIHtk3X0/edit#gid=1382397285"
        },
        "combineFilters": "OR",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.6,
      "position": [480, 224],
      "id": "994b099f-7a57-4fb4-8baa-12950d8223cc",
      "name": "Get row(s) in sheet in Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "lS7bPClPVYymCPlB",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('WhatsApp Message Received').item.json.body.from || $('WhatsApp Message Received').item.json.from || 'default_session' }}",
        "contextWindowLength": 20
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [352, 224],
      "id": "cfa2ab7f-3f0d-4153-980e-740ad601fa0f",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "url": "={{ $env.WHATSAPP_API_URL || 'https://api.whatsapp.business' }}/send-message",
        "sendQuery": false,
        "options": {
          "headers": {
            "Authorization": "Bearer ={{ $env.WHATSAPP_API_TOKEN }}",
            "Content-Type": "application/json"
          },
          "timeout": 10000
        },
        "body": {
          "to": "={{ $('WhatsApp Message Received').item.json.body.from || $('WhatsApp Message Received').item.json.from }}",
          "message": "={{ $json.output }}",
          "type": "text"
        }
      },
      "id": "send-whatsapp-response",
      "name": "Send WhatsApp Response",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [512, 0]
    },
    {
      "parameters": {
        "content": "## Direct WhatsApp Response\n\n✅ **Bypasses wabot connection issue**\n\n**Flow:**\n1. WhatsApp → n8n webhook\n2. AI Agent + Google Sheets\n3. Direct WhatsApp API response\n\n**Env needed:**\n- WHATSAPP_API_URL\n- WHATSAPP_API_TOKEN",
        "height": 160,
        "width": 300
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [650, 120],
      "typeVersion": 1,
      "id": "direct-response-note",
      "name": "Direct Response Info"
    }
  ],
  "connections": {
    "WhatsApp Message Received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send WhatsApp Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet in Google Sheets": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "timezone": "Asia/Kuala_Lumpur",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "768facc2-dfd2-4fd8-8665-e544c32e5c84",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "19ffd834ff02f46d0bdbc474747478ec203b3fbe7fe912d5279ca93c84f1559a"
  },
  "id": "fpl0f8aINrNaPHrL",
  "tags": []
}
